<!-- component -->
<div class="h-screen bg-gray-50 flex items-center">
	<section class="w-full bg-cover bg-center py-32" style="background-image: url('https://source.unsplash.com/random');">
		<div class="container mx-auto text-center text-white">
			<h1 class="text-3xl font-medium mb-6"><%= @project.name %> - Comment and Status History</h1>
		</div>
	</section>
</div>
  <% @interaction_history.each do |item| %>
    <p>
    <% if item.is_a?(Comment) %>
    <%= render partial: 'comments/comment', locals: { item: item, body: item.body } %>
    <% else %>
    <%= render partial: 'comments/comment', locals: { item: item, body: "Changed project status from #{item.from} to #{item.to}" } %>
    <% end %>
  <% end %>

<%= render partial: 'comments/create_form', locals: { project: @project, comment: @comment } %>

<%= render partial: 'projects/status_change_form', locals: { project: @project } %>